@* 共用的對話框, 透過 global.js 中 popupDialog() 顯示操作 *@
<div class="modal fade common-dialog" id="commonDialog" role="dialog" aria-labelledby="commonDialogTitle" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h3 class="modal-title" id="commonDialogTitle">系統對話框</h3>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer center">
                <a class="tablebtn link-pointer btn-close">關閉取消</a>
            </div>
        </div>
    </div>
</div>
