@using System.Configuration;
@model WDAIIP.WEB.Models.LinkViewModel

@if (Model.Grid.Count != 0)
{
    bool flag_ssoRd = false; /* SSO-重導 */
    string s_lkssoRd = ConfigurationManager.AppSettings["LinkSsoRedirect"];
    if (s_lkssoRd != null && !string.IsNullOrEmpty(s_lkssoRd) && s_lkssoRd.Equals("Y")) { flag_ssoRd = true; }

    <!-- link start LinkGridRows-->
    <div class="clearfix"></div>
    <ul class="link-groupB">
        @for (int i = 0; i < Model.Grid.Count; i++)
        {
            var item = Model.Grid[i];
            string s_link3 = null;
            if (flag_ssoRd && item.C_LINKURL3 != null)
            {
                s_link3 = item.C_LINKURL3;
                s_link3 = s_link3 + "&SEQNO=" + item.SEQNO.ToString();
            }

            if (s_link3 != null)
            {
                <li><a href="@Url.Content(s_link3)" target="_blank" rel="noreferrer noopener" title="前往@(item.C_TITLE)(另開新視窗)">@item.C_TITLE</a></li>
            }
            else
            {
                <li><a href="@item.C_URL" target="_blank" rel="noreferrer noopener" title="前往@(item.C_TITLE)(另開新視窗)">@item.C_TITLE</a></li>
            }
        }
    </ul>
    <!-- link end LinkGridRows-->
}