<?xml version="1.0" encoding="UTF-8"?>
<log4net>
    <!-- 輸出到Console -->
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
        <layout type="log4net.Layout.PatternLayout">
            <param name="ConversionPattern" value="%d [%t] %-5p %c &lt;%X{auth}&gt; - %m%n" />
        </layout>
    </appender>

    <!-- 輸出到檔案 -->
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
        <file value="./logs/trace.log" />
        <!-- 輸出檔名 -->
        <appendToFile value="true" />
        <!-- 以 UTF-8 編碼輸出
        <encoding value="utf-8" />
        -->
        <!-- 每個檔案最大size (有設定 rollingStyle=Date 此項沒作用) 
        <maximumFileSize value="10240KB" />
        <maxSizeRollBackups value="5" />
        -->
        <rollingStyle value="Date" />
        <datePattern value="yyyyMMdd-HH" />
        <layout type="log4net.Layout.PatternLayout">
            <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n" />
        </layout>
    </appender>

    <root>
        <!-- 輸出訊息等級 -->
        <level value="DEBUG" />
      
        <appender-ref ref="ConsoleAppender" />
        <appender-ref ref="RollingFileAppender" />
    </root>

    <!-- logger for NFC.eYVTR_mng_n -->
    <logger name="WDAIIP.WEB">
      <level value="DEBUG" />
      <!--<level value="INFO" />-->
    </logger>
  
    <!-- logger for DAO -->
    <logger name="DAO">
        <level value="DEBUG" />
        <!--<level value="INFO" />-->
    </logger>

    <!-- logger for iBatis -->
    <logger name="IBatisNet.DataMapper.Commands.DefaultPreparedCommand">
        <level value="DEBUG" />
    </logger>
    <logger name="IBatisNet.DataMapper.Configuration.Cache.CacheModel">
        <level value="DEBUG" />
    </logger>
    <logger name="IBatisNet.DataMapper.LazyLoadList">
        <level value="DEBUG" />
    </logger>
    <logger name="IBatisNet.DataMapper.SqlMapSession">
        <level value="INFO" />
    </logger>
    <logger name="IBatisNet.Common.Transaction.TransactionScope">
        <level value="DEBUG" />
    </logger>
    <logger name="IBatisNet.DataAccess.DaoSession">
        <level value="DEBUG" />
    </logger>
    <logger name="IBatisNet.DataAccess.Configuration">
        <level value="INFO" />
    </logger>
    <logger name="IBatisNet.DataMapper.Configuration.Statements.PreparedStatementFactory">
       <level value="DEBUG" />
    </logger>
    <logger name="IBatisNet.DataMapper.Commands.IPreparedCommand">
        <level value="DEBUG" />
    </logger>

</log4net>