<?xml version="1.0" encoding="utf-8" ?>
<sqlMapConfig
  xmlns="http://ibatis.apache.org/dataMapper"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <properties resource="properties.config"/>

  <settings>
    <setting useStatementNamespaces="true"/>
  </settings>

  <providers resource="providers.config"/>

  <!-- Database connection information -->
  <database>
    <!-- parameters ${xxxxx} arr defined within 'properties.config' -->
    <provider name="${providerSQLClient4}"/>
    <dataSource name="WDAIIP.WEB" connectionString="${connectionWDAIIP}${connectionWDAIIPKey}" />
  </database>

  <sqlMaps>
    <sqlMap resource="./SqlMaps/Commons.xml" />
    <sqlMap resource="./SqlMaps/WDAIIPWEB.xml" />
    <sqlMap resource="./SqlMaps/KeyMap.xml" />
    <sqlMap resource="./SqlMaps/Share.xml" />

    <!-- Report.xml 會引用其他area的SQL, 要放在最下面 -->
	  <!--<sqlMap resource="./SqlMaps/REST.xml" />
    <sqlMap resource="./SqlMaps/Report.xml" />-->
  </sqlMaps>

</sqlMapConfig>