<?xml version="1.0"?>
<!-- 如需如何設定 ASP.NET 應用程式的詳細資訊，請瀏覽 http://go.microsoft.com/fwlink/?LinkId=301880 -->
<configuration>
  <configSections>
    <sectionGroup name="system.web.webPages.razor" type="System.Web.WebPages.Razor.Configuration.RazorWebSectionGroup, System.Web.WebPages.Razor, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <section name="host" type="System.Web.WebPages.Razor.Configuration.HostSection, System.Web.WebPages.Razor, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false"/>
      <section name="pages" type="System.Web.WebPages.Razor.Configuration.RazorPagesSection, System.Web.WebPages.Razor, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false"/>
    </sectionGroup>
    <section name="iBATIS_logging" type="IBatisNet.Common.Logging.ConfigurationSectionHandler, IBatisNet.Common"/>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="WDAIIP.WEB.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <iBATIS_logging>
    <logFactoryAdapter type="IBatisNet.Common.Logging.Impl.Log4NetLoggerFA, IBatisNet.Common.Logging.Log4Net">
      <arg key="configType" value="external"/>
    </logFactoryAdapter>
  </iBATIS_logging>
  <configProtectedData>
    <providers>
      <add name="ChrisProtectedProvider" type="System.Configuration.RsaProtectedConfigurationProvider, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" keyContainerName="ChrisKeys" useMachineContainer="true"/>
    </providers>
  </configProtectedData>
  <system.web.webPages.razor>
    <host factoryType="System.Web.Mvc.MvcWebRazorHostFactory, System.Web.Mvc, Version=5.2.3.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
    <pages pageBaseType="System.Web.Mvc.WebViewPage">
      <namespaces>
        <add namespace="System.Web.Mvc"/>
        <add namespace="System.Web.Mvc.Ajax"/>
        <add namespace="System.Web.Mvc.Html"/>
        <add namespace="System.Web.Optimization"/>
        <add namespace="System.Web.Routing"/>
        <add namespace="WDAIIP.WEB"/>
        <add namespace="Turbo"/>
        <add namespace="Turbo.Commons"/>
        <add namespace="Turbo.ReportTK"/>
        <add namespace="Turbo.Helpers"/>
      </namespaces>
    </pages>
  </system.web.webPages.razor>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <!-- 產投 ireport server url -->
    <!--<add key="RptQuery_URL" value="http://163.29.199.77:8080/ReportServer3/report?" /> -->
    <add key="RptQuery_URL" value="https://163.29.199.77/ReportServer3/report?"/>
    <!--報表環境參數 TIMS為正式機 TEST測試機 -->
    <add key="ReportQueryPath" value="TEST"/>
    <!-- (測試開發用)  啟用壓力測試模式(會使用模擬的帳號及角色覆寫登入者資訊)  Y: 啟用, 其他: 停用 -->
    <!-- <add key="StressTestMode" value="Y" /> <add key="StressTestUserNo" value="johnsoncj" /> -->
    <!-- 最大報名背景處理個數 (Thread Pool 容量) -->
    <add key="ProcessEnterWorkerMaxThreads" value="20"/>
    <!-- 報名處理排隊等待最長時間(秒) -->
    <add key="ProcessEnterWorkerWaitTimeout" value="160"/>
    <!-- 設定是否停用 Authorize 權限檢核 (測試開發用):
    2: 當系統管理者角色時停用, AuthorizeRequired 沒作用直接 bypass
    1: 全部停用, AuthorizeRequired 沒作用直接 bypass
    0: 未停用 -->
    <add key="DisableAuthorize" value="0"/>
    <!-- 設定在 ErrorPage 中是否要顯示錯誤 Exception 訊息及 Stacktrace,但若在 localhost 執行, 則不受此設定影響, 一律顯示 Exception 訊息及 Stacktrace:
    0. 不顯示
    1. 顯示 Exception Message
    2. 顯示 Exception Message 及 Stacktrace -->
    <add key="ErrorPageShowExeption" value="0"/>
    <!-- 會員登入/忘記密碼(就業通) -->
    <!--<add key="TwJobsLogin_URL" value="http://192.168.0.55:8510/member/Login.aspx" />
    <add key="TwJobsLogin_URL" value="https://www.taiwanjobs.gov.tw/member/login.aspx" />
    <add key="TwJobsLogin_URL" value="https://sso.taiwanjobs.gov.tw/member/login.aspx" />
    <add key="TwJobsForgetPwd_URL" value="https://www.taiwanjobs.gov.tw/internet/jobwanted/member_forget.aspx" /> -->
    <add key="TwJobsLogin_URL" value="https://sso.taiwanjobs.gov.tw/member/login.aspx"/>
    <add key="TwJobsForgetPwd_URL" value="https://www.taiwanjobs.gov.tw/internet/jobwanted/member_forget.aspx"/>
    <!-- 會員登入-單一簽入系統代碼 -->
    <!-- <add key="SSOSystemID" value="0016" /><add key="SSOSystemID" value="0901" /> -->
    <add key="SSOSystemID" value="0020"/>
    <!-- 會員登入-單一簽入金鑰 -->
    <!--<add key="RSAPrivateKeyFile" value="~/App_Data/0016RSA_privateKey.xml" /><add key="RSAPublicKeyFile" value="~/App_Data/0016RSA_publicKey.xml" /> -->
    <add key="RSAPrivateKeyFile" value="~/App_Data/0020RSA_privateKey.xml"/>
    <add key="RSAPublicKeyFile" value="~/App_Data/0020RSA_publicKey.xml"/>
    <!--<add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" /> -->
    <!-- 附件存放路徑 -->
    <add key="DownloadPath" value="/downfile2"/>
    <!-- [產投_前台]附件存放路徑 -->
    <add key="UploadPath" value="/Uploads"/>
    <!-- 參訓課程查詢功能-不提供查詢時段-起始時間（HH:mm） -->
    <add key="TimeNoUseS" value="11:45"/>
    <!-- 參訓課程查詢功能-不提供查詢時段-起始時間（HH:mm） -->
    <add key="TimeNoUseE" value="13:00"/>
    <!-- 系統停機時段設定 -->
    <add key="StopUrl" value="https://ojt.wda.gov.tw/stop3/"/>
    <add key="StopTimeS" value="2020/04/20 10:00:00"/>
    <add key="StopTimeE" value="2020/04/20 12:00:00"/>
    <!-- 臨-48-Apr-產投-報名時檢核重疊時段的機制設計異動 -->
    <add key="DoubleStopEnter2" value="Y"/>
    <!-- check host fix -->
    <add key="WebFmHost1" value="localhost,ojt.wda.gov.tw,ojtims.wda.gov.tw,wltest.wda.gov.tw,wlt.wda.gov.tw,wltims.wda.gov.tw,ojrept.wda.gov.tw,163.29.199.79,163.29.199.78"/>
    <!-- SsoRedirect SSO-重導 -->
    <add key="LinkSsoRedirect" value="Y"/>
    <!-- ErrorPage1-->
    <!-- <add key="ErrorPage1" value="ClassSearch" /> -->
    <!-- 課程查詢報名-地圖找課程 -->
    <add key="ClassMapSch1" value="Y"/>
    <!-- 課程錄訓名單-區域產業據點 -->
    <add key="ClassConfirm005" value="Y"/>
    <!-- 下載訓練證明 TrainCert -->
    <add key="TrainCert1" value="Y"/>
    <!-- 數位結訓證明 測試寄件信件 -->
    <add key="WebTestEmail" value="amu_ting@turbotech.com.tw;sammychang@turbotech.com.tw;L7100071@wda.gov.tw"/>
    <!-- 數位結訓證明 DigiCert1 -->
    <add key="DigiCert1" value="Y"/>
    <!-- 學員線上表單 -->
    <add key="StudOnline1" value="Y"/>
    <!-- 114年確定性需求8：網站建置AI影像辯識功能 -->
    <add key="UseExUploadIMG" value="Y"/>
  </appSettings>
  <!--20181005 加入 location 設定避免子網站繼承父網站 Web.config（原因：技檢 1.0 電子抽籤網站「虛擬目錄」要掛在技檢 2.0 Turbo.MVC.Base3「虛擬目錄」內）-->
  <location path="." inheritInChildApplications="false">
    <system.web>
      <!-- 署端(正式/測試) -->
      <httpCookies httpOnlyCookies="true" requireSSL="true" domain="wlt.wda.gov.tw"/>
      <!-- <compilation debug="true" targetFramework="4.5.2" /> -->
      <!-- 上傳容量限制 -->
      <httpRuntime targetFramework="4.5.2" maxRequestLength="20480" executionTimeout="600" requestValidationType="WDAIIP.WEB.Commons.RequestValidatorDisabled" enableVersionHeader="false"/>
      <!--
      <httpRuntime targetFramework="4.5.2" maxRequestLength="20480" executionTimeout="600" />
      <httpRuntime targetFramework="4.5.2" maxRequestLength="20480" executionTimeout="600" requestValidationType="WDAIIP.WEB.Commons.RequestValidatorDisabled" />
      <sessionState mode="StateServer" stateConnectionString="tcpip=192.168.3.78:42424" sqlConnectionString="data source=127.0.0.1;Trusted_Connection=yes" cookieless="false" timeout="20" />
      <machineKey validationKey="80DD342317E3E2D76D734F7D8AC911571AADAE36F9233D6EED65E1E8D4AD9326FA18B3B984A6A8F28AB38D98C852A171CA9A2E1FD3FD852924403256071DC8D127CCE1BE582FCF50455F02D4B83D009614185E8C4BF674F53565BC517F182404CC2FD0BF2A4A2135E826C0F24F2E2E7110AB46C61C62117C71862843E812E091" decryptionKey="677644054D0C8634497D8F9C14665FEDD49795B03339401F8D391C958091C38C03B74DA378C4044F27CAE27011D56D68" validation="HMACSHA384" decryption="DES" />  
      <sessionState mode="StateServer" stateConnectionString="tcpip=192.168.3.78:42424" sqlConnectionString="data source=127.0.0.1;Trusted_Connection=yes" cookieless="false" timeout="20" />
      <machineKey validationKey="246980AA1D79F9D9A3F8B298BB1300420494CF61FF380C0A5A33782B5C5C5DD45D3C80988F4ABC27AE3D10BDBD8AAF7408593E3D4CC926836387720F574F2DA844D8CE0F698CA084FEC207F17B203E1041D150FADC6073CA1FCA13EEA21CC77178A32F4535D7A9CBA3E02033366C8196213FB291A9BBCCE0E5F75D25BC9ECBF0" decryptionKey="010B5B514B832BEA69D59E42A43191DC62BFAC4D3A27B5BD9E212D1BD071BB245A9EC95DA618C5ADB5C7EFB7C5FAE1F9" validation="SHA1" decryption="DES" />
      -->
    </system.web>
    <system.webServer>
      <validation validateIntegratedModeConfiguration="false"/>
      <httpProtocol>
        <customHeaders>
          <!-- 置定 IE 瀏覽器兼容模式 -->
          <add name="X-UA-Compatible" value="IE=edge,chrome=1"/>
          <remove name="X-Frame-Options"/>
          <remove name="X-XSS-Protection"/>
          <remove name="X-Content-Type-Options"/>
          <remove name="X-Powered-By"/>
          <remove name="Cache-Control"/>
          <add name="Pragma" value="no-cache"/>
          <add name="Cache-Control" value="no-cache,no-store,must-revalidate,private"/>
          <add name="Expires" value="0"/>
          <add name="X-Frame-Options" value="SAMEORIGIN"/>
          <!-- <add name="X-XSS-Protection" value="1; mode=block"/> -->
          <add name="X-Content-Type-Options" value="nosniff"/>
          <add name="Strict-Transport-Security" value="max-age=31536000;includeSubDomains"/>
          <add name="Content-Security-Policy" value="default-src 'self' sso.taiwanjobs.gov.tw;  frame-ancestors 'none';  script-src 'self' 'unsafe-inline' 'unsafe-eval' sso.taiwanjobs.gov.tw api.tgos.tw s.yimg.com sp.analytics.yahoo.com www.gstatic.com www.google.com www.googletagmanager.com www.googleadservices.com googleads.g.doubleclick.net;   style-src 'self' 'unsafe-inline' www.gstatic.com fonts.googleapis.com www.google.com use.fontawesome.com;   font-src 'self' data: fonts.gstatic.com use.fontawesome.com;   frame-src 'self' sso.taiwanjobs.gov.tw www.youtube.com *.doubleclick.net *.facebook.com;   img-src 'self' data: *.openstreetmap.org sp.analytics.yahoo.com www.google.com www.google.com.tw www.googleapis.com clients1.google.com;   object-src 'self' flv-player.net;   connect-src 'self' sso.taiwanjobs.gov.tw analytics.google.com utts.turbotech.com.tw s.yimg.com sp.analytics.yahoo.com www.gstatic.com;   media-src 'self' utts.turbotech.com.tw;"/>
        </customHeaders>
      </httpProtocol>
      <security>
        <requestFiltering>
          <!-- <verbs> <add verb="OPTIONS" allowed="false" /> <add verb="PUT" allowed="false" /> </verbs> -->
          <verbs allowUnlisted="false">
            <add verb="GET" allowed="true"/>
            <add verb="POST" allowed="true"/>
            <add verb="HEAD" allowed="true"/>
          </verbs>
          <!-- 限制 QueryString 長度最大 4 KB，上傳檔案長度最大 32 MB -->
          <requestLimits maxQueryString="4096" maxAllowedContentLength="33554432">
            <headerLimits>
              <add header="X-HTTP-METHOD" sizeLimit="0"/>
              <add header="X-HTTP-METHOD-OVERRIDE" sizeLimit="0"/>
              <add header="X-METHOD-OVERRIDE" sizeLimit="0"/>
            </headerLimits>
          </requestLimits>
          <hiddenSegments>
            <add segment="logs"/>
            <add segment="report"/>
            <add segment=".svn"/>
          </hiddenSegments>
        </requestFiltering>
      </security>
      <!-- 下面這個設定在 Windows 2008 + IIS7 環境下是必要的, 不然會出現 403 的錯誤 -->
      <modules runAllManagedModulesForAllRequests="true"/>
      <staticContent>
        <remove fileExtension=".woff2"/>
        <mimeMap fileExtension=".woff2" mimeType="font/woff2"/>
        <remove fileExtension=".log"/>
        <mimeMap fileExtension=".log" mimeType="application/octet-stream"/>
        <remove fileExtension=".7z"/>
        <mimeMap fileExtension=".7z" mimeType="application/x-7z-compressed"/>
        <!--
        <mimeMap fileExtension=".apk" mimeType="application/android" />
        <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
        <mimeMap fileExtension=".bz" mimeType="application/x-bzip" />
        <mimeMap fileExtension=".bz2" mimeType="application/x-bzip2" />
        <mimeMap fileExtension=".7z" mimeType="application/x-7z-compressed" />
        <mimeMap fileExtension=".zip" mimeType="application/zip" />
        <mimeMap fileExtension=".rar" mimeType="application/x-rar-compressed" />
        <mimeMap fileExtension=".csv" mimeType="text/csv" />
        <mimeMap fileExtension=".pdf" mimeType="application/pdf" />
        <mimeMap fileExtension=".odt" mimeType="application/vnd.oasis.opendocument.text" />
        <mimeMap fileExtension=".ods" mimeType="application/vnd.oasis.opendocument.spreadsheet" />
        <mimeMap fileExtension=".odp" mimeType="application/vnd.oasis.opendocument.presentation" /> -->
      </staticContent>
    </system.webServer>
  </location>
  <runtime>
    <AppContextSwitchOverrides value="Switch.System.IO.UseLegacyPathHandling=false"/>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed"/>
        <bindingRedirect oldVersion="0.0.0.0-13.0.3.0" newVersion="13.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EPPlus" publicKeyToken="ea159fdaa78159a1" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.5.3.3" newVersion="4.5.3.3"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="zxing" publicKeyToken="4e88037ac681fe60" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-0.16.10.0" newVersion="0.16.10.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <location path="WDA_CPAM2">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="WDACC">
    <system.web>
      <pages enableEventValidation="false"/>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <!--<location path="WDA_CPAM2"><system.web><httpRuntime requestValidationMode="2.0" /><pages enableEventValidation="false" /><authorization><allow users="*" /></authorization></system.web></location> -->
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
      <!--<compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" /> -->
    </compilers>
  </system.codedom>
  <!--
    如需 web.config 變更的說明，請參閱 http://go.microsoft.com/fwlink/?LinkId=235367。

    您可以在 <httpRuntime> 標記上設定下列屬性。
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <compilation targetFramework="4.8"/>
  </system.web>
  <applicationSettings>
    <WDAIIP.WEB.Properties.Settings>
      <setting name="WDAIIP_WEB_GetTraining_GetTrainingList" serializeAs="String">
        <value>http://tims106ap5/PSHTLWS/GetTrainingList.asmx</value>
      </setting>
      <setting name="WDAIIP_WEB_ITSWebc_twsITSWebc" serializeAs="String">
        <value>https://ojfile119.ejob.gov.tw/ITSWebc/twsITSWebc.asmx</value>
      </setting>
      <setting name="WDAIIP_WEB_SendMailws3_Service1" serializeAs="String">
        <value>https://ojfile119.ejob.gov.tw/GetJobMail3/Service1.asmx</value>
      </setting>
      <setting name="WDAIIP_WEB_ojt0219ws1_GetOjt0219ws1" serializeAs="String">
        <value>https://ojfile119.ejob.gov.tw/OJTWS/GetOjt0219ws1.asmx</value>
      </setting>
    </WDAIIP.WEB.Properties.Settings>
  </applicationSettings>
</configuration>