
@{
    ViewBag.Title = "資料下載--其他資料";
    Layout = "~/Views/Shared/_MainLayout_NoClassSearch.cshtml";
}

<div class="col-sm-12">
    <!-- bread start --->
    <div class="breadlink"><a title="中間主要功能選項區" accesskey="C" id="C" href="#C" style="text-decoration:none;">:::</a><i class="fa fa-home space-right" aria-hidden="true"></i>目前位置：<a href="@Url.Content("~/")" title="回首頁">首頁</a> / 資料下載 / 其他資料</div>
    <!-- bread end --->
    <h3 class="main-title main-title-green"><i class="fas fa-link space-right"></i>其他資料</h3>

    @Html.Partial("_DownloadIndex")

</div>

<script type="text/javascript">
    //檔案下載
    function doDownloadFile(dlid, fileSeq) {
        var data = {
            "dlid": dlid,
            "fileSeq": fileSeq
        };
        var url = '@Url.Action("DownloadFile", "OtherDownload")';
        goForwardPage(url, data, 2, "POST");
    }
</script>
