
@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>VCodeAudio</title>
</head>
<body>
    <audio src="@Url.Action("GetValidateCodeAudio")?@(DateTime.Now.Millisecond)" controls autoplay>
        HTML5 audio not supported
    </audio>
</body>
</html>
