@model WDAIIP.WEB.Models.HomeViewModel

@if (Model == null || Model.NewClassGrid == null || Model.NewClassGrid.Count == 0)
{
    <tr>
        <td colspan="2" class="text-center">尚無資料</td>
    </tr>
}
else
{
    foreach (var item in Model.NewClassGrid)
    {
        <tr>
            <td width="80%"><a href="javascript:showClass(@item.OCID)">@item.CLASSCNAME_TEXT</a></td>
            <td width="20%" class="newsDate">@item.SENTERDATE_AD</td>
        </tr>
    }
}
