@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<div class="col-xs-12">
    <div class="theme-news">
        <h3 class="theme-news-title">
        <img src="images/icon-news.svg" alt="上傳檔案">選取多個檔案上傳範例
        </h3>
        <div class="table-responsive">
            @Html.Partial("_FileUpload")
        </div>
    </div>
</div>
